* {
  box-sizing: border-box;
  margin: 0;
}

#nav {
  background-color: #b4d337;
  height: 40px;
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  /* display: none; */
}
#icon {
  color: white;
  font-size: large;
  padding: 5px 20px;
}
.links {
  color: white;
  padding: 8px 20px;
  text-decoration: none;
}
.links2 {
  color: white;
  text-decoration: none;
}
.links2:visited {
  color: white;
}
.load {
  padding-top: 100px;
}
.block {
  height: 500px;
  width: 400px;
  margin: 100px 117px;
  background-color: #b4d337;
  border: gray 1px solid;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.308);
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
}
.block:hover {
  transform: translateY(-15px);
  cursor: pointer;
}
.block-ext {
  height: 600px;
  width: 500px;
  background-color: #b4d337;
  border: gray 1px solid;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.308);
  overflow: hidden;
  margin: 100px auto;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  padding: 20px;
}
img {
  height: 350px;
  width: 350px;
  object-fit: contain;
  display: grid;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  text-align: center;
  padding-top: 10px;
  padding: 0 20px;
  margin-bottom: 5px;
  color: white;
}
.delButton {
  display: flex;
  margin: 10px auto;
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  color: red;
}
.delButton:hover {
  cursor: pointer;
}
.returnButton {
  display: flex;
  margin: 10px auto;
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  color: #ce8d27;
}
.returnButton:hover {
  cursor: pointer;
}
.form-box {
  background-color: beige;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  margin: 60px auto;
  height: 550px;
  width: 70%;
  padding: 50px;
  border-radius: 15px;
}
form {
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  border-radius: 10px;
}
form input,
form textarea {
  border: 0;
  margin: 10px;
  padding: 20px;
  font-size: 18px;
  border-radius: 5px;
}
#submit-button {
  padding: 15px;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  color: white;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
  background-color: #b4d337;
}